Binaries
DerivedDataCache
Intermediate
Saved
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
~$*
.maya*
/SlamLibrary/build
/SlamLibrary/dist
/SlamLibrary/.vs
/SlamLibrary/SlamLibrary.vcxproj.user
